.logo img {
  width: 64px;
  height: 64px;
  margin-left: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.items {
  margin-right: 1em;
}

.items a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.items a:hover {
  color: #7e57c2;
}
